---
title: "Advanced flight control"
layout: splash
permalink: /
redirect-from: /autotown/autotuneresults.html
share: true
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#c0c0c0"
  overlay_filter: rgba(20, 20, 40, 0.45)
  overlay_image: /assets/images/splash.jpg
  cta_label: "Download"
  cta_url: "/download"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Whether you want to push the limits of **FPV racing** or **aerial robotics**, *the dRonin flight stack makes it possible*."
intro: 
  - excerpt: 'dRonin is software to control quadcopters and other small aircraft systems.'
feature_row:
  - image_path: assets/images/crazy.jpg
    alt: "Flies better"
    title: "Flies better"
    excerpt: "With dRonin's setup wizard and autotune functionality, it has never been easier to fly a well tuned machine.  Advanced control capabilities allow more capable flight."
  - image_path: /assets/images/open.jpg
    alt: "Open source"
    title: "Open source"
    excerpt: "dRonin is licensed under the GPLv3 and is the product of a globally distributed team of developers and testers."
    url: "https://github.com/d-ronin/dRonin/wiki/Contributing"
    btn_label: "Get involved!"
    btn_class: "btn--inverse"
  - image_path: /assets/images/sepp.png
    alt: "Hardware support"
    title: "Hardware support"
    excerpt: "A wide variety of hardware is supported: DTF Seppuku, BrainFPV, as well as controllers in the OpenPilot family (CC3D, Revolution, Sparky, Sparky2)"
feature_row2:
  - image_path: /assets/images/map.jpg
    alt: "Versatile"
    title: "Versatile"
    excerpt: 'dRonin is aimed at a variety of use cases: everything from racing to autonomous flight.  The same software can run on micro flight controllers with basic sensors up to embedded Linux hardware with machine vision.  Fly aggressive rate control or autonomous navigation-- even on the same airframe.'
feature_row3:
  - image_path: /assets/images/vortices.jpg
    alt: "Supports many aircraft types"
    title: "Supports many aircraft types"
    excerpt: 'Multirotors are popular (quadcopters and hexcopters), but dRonin is equally capable controlling wings, conventional RC airplanes, helicopters, and more.  No matter what type of vehicle you want to fly, we''ve got you covered.'
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}
