---
title: "Autotune"
layout: splash
permalink: /tunes
redirect_from: /autotown/autotuneresults.html
share: true
addl_headers: |
  <link rel="stylesheet" href="/assets/css/flags.min.css"></link>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
  <style type="text/css">
    [ng-click],
    [data-ng-click],
    [x-ng-click] {
      cursor: pointer;
    }
    br {
      display: unset !important; /* the theme disables br tag for unknown reasons */
    }
  </style>
header:
  overlay_filter: rgba(173, 94, 0, 0.735)
  overlay_image: /assets/images/curvetexture.jpg
excerpt: "Autotune *measures the flight characteristics of your aircraft*, and then generates PIDs providing ideal, **locked-in** control."
intro: 
  - excerpt: 'After initial setup, fly a short autotune flight with dRonin.  When you next connect the controller to your computer, PIDs that account for the delays and mechanical gains of the aircraft are computed and applied.  Tuning has never been simpler.'
  - excerpt: 'Below are a few of the most recent tunes flown by the dRonin community.'
---

{% include feature_row id="intro" type="center"%}

<div ng-app="dronin" ng-controller="AutotuneCtrl as $ctrl">
  <table>
      <thead>
          <tr>
              <th>Board</th>
              <th>Response Time</th>
              <th>City</th>
              <th>Country</th>
              <th>Submitted</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="t in tunes | limitTo:25" ng-click="$ctrl.openTune(t.Key)">
              <td ng-bind="t.Board"></td>
              <td><span ng-bind="t.Tau * 1000 | number : 1"></span> ms</td>
              <td ng-bind="t.City | titleCase"></td>
              <td><span class="flag" ng-class="'flag-' + t.Country.toLowerCase()"></span> <span ng-bind="t.Country | uppercase"></span></td>
              <td ng-bind="t.Timestamp | relDate"></td>
          </tr>
      </tbody>
  </table>
  <p ng-if="error" ng-bind="error"></p>

  <script type="text/ng-template" id="autotuneDialog.tmpl.html">
    <md-dialog aria-label="Tune details">
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Tune Details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
              <md-icon md-svg-src="/assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content style="min-width:700px;max-width:900px;max-height:800px; ">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="summary">
              <md-content class="md-padding">
                <!--h1 class="md-display-2">Summary</h1-->
                <md-list>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_access_time_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Timestamp | relDate"></h3>
                      <p>When</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_location_on_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>
                        <a ng-click="$ctrl.googleMaps(tune.Lat, tune.Lon)">
                          <span ng-bind="tune.City | titleCase"></span>, <span ng-bind="tune.Region | uppercase"></span>, <span ng-bind="tune.Country | uppercase"></span>
                        </a>
                      </h3>
                      <p>Where</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_memory_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Board"></h3>
                      <p>Flight Controller</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_timer_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3><span ng-bind="tune.Tau * 1000 | number : 1"></span> ms</h3>
                      <p>Response Time (Tau)</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
            <md-tab label="measurements">
              <md-content class="md-padding">
                <table>
                  <thead>
                    <tr><th>Axis</th><th>Gain</th><th>Bias</th><th>Noise (&deg;/s<sup>2</sup>)</th></tr>
                  </thead>
                  <tbody>
                    <!-- TODO: sort in RPY order -->
                    <tr ng-repeat="(name, meas) in tune.Orig.identification" ng-if="meas.gain">
                      <td ng-bind="name | titleCase"></td>
                      <td ng-bind="meas.gain | number : 2"></td>
                      <td ng-bind="meas.bias | number : 2"></td>
                      <td ng-bind="meas.noise | number : 1"></td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
            <md-tab label="tune">
              <md-content class="md-padding">
                <h2 style="margin: 0">Settings</h2>
                <div>
                  <md-list layout="row" layout-xs="column">
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3 ng-bind="tune.Orig.tuning.parameters.damping | number: 2"></h3>
                        <p>Damping</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3 ng-bind="tune.Orig.tuning.parameters.noiseSensitivity | number: 3"></h3>
                        <p>Noise Sensitivity</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <h2 style="margin: 0">Results</h2>
                <div>
                  <md-list layout="row" layout-xs="column">
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3><span ng-bind="tune.Orig.tuning.computed.naturalFrequency | number: 1"></span> Hz</h3>
                        <p>Natural Frequency</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3><span ng-bind="tune.Orig.tuning.computed.derivativeCutoff | number: 1"></span> Hz</h3>
                        <p>Derivative Filter Cutoff Frequency</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <div>
                  <table>
                    <thead>
                      <tr><th>Axis</th><th>Kp</th><th>Ki</th><th>Kd</th></tr>
                    </thead>
                    <tbody>
                      <!-- TODO: sort in RPY order -->
                      <tr ng-repeat="(name, meas) in tune.Orig.tuning.computed.gains">
                        <td ng-bind="name | titleCase"></td>
                        <td ng-bind="meas.kp | number : 5"></td>
                        <td ng-bind="meas.ki | number : 5"></td>
                        <td ng-bind="meas.kd | number : 7"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <h2 style="margin: 0">User Observations</h2>
                <p ng-bind-html="tune.Orig.userObservations | simpleFormat"></p>
              </md-content>
            </md-tab>
            <md-tab label="vehicle">
              <md-content class="md-padding">
                <md-list>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.type"></h3>
                      <p>Type</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.size"></h3>
                      <p>Size</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3><span ng-bind="tune.Orig.vehicle.weight"></span> g</h3>
                      <p>Weight</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.firmware.board"></h3>
                      <p>Flight Controller</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.firmware.tag"></h3>
                      <p>dRonin Version</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.esc"></h3>
                      <p>ESC(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.motor"></h3>
                      <p>Motor(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3 ng-bind="tune.Orig.vehicle.props"></h3>
                      <p>Propeller(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3><span ng-bind="tune.Orig.vehicle.batteryCells"></span>S</h3>
                      <p>Battery</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
            <md-tab label="uavobjects">
              <md-content class="md-padding">
                <!--h1 class="md-display-2">UAVObjects</h1-->
                <fieldset class="standard">
                  <legend>Available UAVObjects</legend>
                  <div>
                    <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                      <strong>Select All</strong>
                    </md-checkbox>
                  </div>
                  <div ng-repeat="(name, obj) in tune.Orig.rawSettings" style="margin-bottom: 5px">
                    <md-toolbar class="md-hue-2" ng-click="showFields = !showFields">
                      <div class="md-toolbar-tools">
                        <md-checkbox ng-checked="exists(obj.name, selectedObjects)" ng-click="toggle(obj.name, selectedObjects); $event.stopPropagation()" aria-label="Select object"></md-checkbox>
                        <h2 flex="">
                          <span ng-bind="obj.name"></span>
                        </h2>
                        <md-button class="md-icon-button" aria-label="Expand more" ng-if="showFields != true">
                          <md-icon md-svg-icon="assets/images/ic_expand_more_24px.svg"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Expand less" ng-if="showFields==true">
                          <md-icon md-svg-icon="assets/images/ic_expand_less_24px.svg"></md-icon>
                        </md-button>
                      </div>
                    </md-toolbar>
                    <table ng-show="showFields">
                      <thead><tr><td><strong>Field</strong></td><td><strong>Value</strong></td></tr></thead>
                      <tbody>
                        <tr ng-repeat="(field, value) in obj.fields">
                          <td ng-bind="field"></td>
                          <td>
                            <ul ng-if="isArray(value)">
                              <li ng-repeat="v in value track by $index"><span ng-bind="$index + 1"></span>: <span ng-bind="v"></span></li>
                            </ul>
                            <span ng-if="isArray(value) != true" ng-bind="value"></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </md-content>
              <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="$ctrl.downloadRawObjects()" ng-disabled="selectedObjects.length==0">
                  <md-icon md-svg-src="assets/images/ic_file_download_24px.svg"></md-icon>
                  Download Selected UAVObjects
                </md-button>
              </md-dialog-actions>
            </md-tab>
          </md-tabs>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
<script src="/assets/js/tunes.js"></script>
