---
title: "Recent Autotunes"
layout: single
permalink: /tunes
share: true
header:
  overlay_color: "#824700"
addl_headers: |
  <link rel="stylesheet" href="/assets/css/flags.min.css"></link>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
---
<div ng-app="dronin" ng-controller="AutotuneCtrl as $ctrl">
  <p>With dRonin's advanced autotuning feature, a well tuned machine is easy. To begin check out the <a href="https://dronin.readme.io/docs/getting-started">getting started guide</a>.</p>
  <table>
      <thead>
          <tr>
              <th>Board</th>
              <th>Response Time</th>
              <th>City</th>
              <th>Country</th>
              <th>Submitted</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="t in tunes | limitTo:25" ng-click="$ctrl.openTune(t.Key)">
              <td>{{ 't.Board' | angular }}</td>
              <td>{{ 't.Tau * 1000 | number : 1' | angular }} ms</td>
              <td>{{ 't.City | titleCase' | angular }}</td>
              <td><span class="flag flag-{{ 't.Country | lowercase' | angular }}"></span>{{ 't.Country | uppercase' | angular }}</td>
              <td>{{ 't.Timestamp | relDate' | angular }}</td>
          </tr>
      </tbody>
  </table>
  <p ng-if="error">{{ 'error' | angular }}</p>

  <script type="text/ng-template" id="autotuneDialog.tmpl.html">
    <md-dialog aria-label="Tune details">
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Tune Details</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
              <md-icon md-svg-src="/assets/images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content style="min-width:700px;max-width:900px;max-height:800px; ">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="summary">
              <md-content class="md-padding">
                <!--h1 class="md-display-2">Summary</h1-->
                <md-list>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_access_time_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Timestamp | relDate' | angular }}</h3>
                      <p>When</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_location_on_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>
                        <a href="https://www.google.com/maps/@{{ 'tune.Lat' | angular }},{{ 'tune.Lon' | angular }},12z">{{ 'tune.City | titleCase' | angular }}, {{ 'tune.Region | uppercase' | angular }}, {{ 'tune.Country | uppercase' | angular }}</a>
                      </h3>
                      <p>Where</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_memory_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Board' | angular }}</h3>
                      <p>Flight Controller</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <img src="/assets/images/ic_timer_24px.svg" class="md-avatar">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Tau * 1000 | number : 1' | angular }} ms</h3>
                      <p>Response Time (Tau)</p>
                    </div>
                  </md-list-item>
                </md-list>
              </md-content>
            </md-tab>
            <md-tab label="measurements">
              <md-content class="md-padding">
                <table>
                  <thead>
                    <tr><th>Axis</th><th>Gain</th><th>Bias</th><th>Noise (&deg;/s<sup>2</sup>)</th></tr>
                  </thead>
                  <tbody>
                    <!-- TODO: sort in RPY order -->
                    <tr ng-repeat="(name, meas) in tune.Orig.identification" ng-if="meas.gain">
                      <td>{{ 'name | titleCase' | angular }}</td>
                      <td>{{ 'meas.gain | number : 2' | angular }}</td>
                      <td>{{ 'meas.bias | number : 2' | angular  }}</td>
                      <td>{{ 'meas.noise | number : 1' | angular  }}</td>
                    </tr>
                  </tbody>
                </table>
              </md-content>
            </md-tab>
            <md-tab label="tune">
              <md-content class="md-padding">
                <h2>Settings</h2>
                <div>
                  <md-list>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3>{{ 'tune.Orig.tuning.parameters.damping | number: 2' | angular }}</h3>
                        <p>Damping</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3>{{ 'tune.Orig.tuning.parameters.noiseSensitivity | number: 3' | angular }}</h3>
                        <p>Noise Sensitivity</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <h2>Results</h2>
                <div>
                  <md-list>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3>{{ 'tune.Orig.tuning.computed.naturalFrequency | number: 1' | angular }} Hz</h3>
                        <p>Natural Frequency</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3>{{ 'tune.Orig.tuning.computed.derivativeCutoff | number: 1' | angular }} Hz</h3>
                        <p>Derivative Filter Cutoff Frequency</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </div>
                <div>
                  <table>
                    <thead>
                      <tr><th>Axis</th><th>Kp</th><th>Ki</th><th>Kd</th></tr>
                    </thead>
                    <tbody>
                      <!-- TODO: sort in RPY order -->
                      <tr ng-repeat="(name, meas) in tune.Orig.tuning.computed.gains">
                        <td>{{ 'name | titleCase' | angular }}</td>
                        <td>{{ 'meas.kp | number : 5' | angular }}</td>
                        <td>{{ 'meas.ki | number : 5' | angular  }}</td>
                        <td>{{ 'meas.kd | number : 7' | angular  }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </md-content>
            </md-tab>
            <md-tab label="vehicle">
              <md-content class="md-padding">
                <md-list>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.type' | angular }}</h3>
                      <p>Type</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.size' | angular }}</h3>
                      <p>Size</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.weight' | angular }} g</h3>
                      <p>Weight</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.firmware.board' | angular }}</h3>
                      <p>Flight Controller</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.firmware.tag' | angular }}</h3>
                      <p>dRonin Version</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.esc' | angular }}</h3>
                      <p>ESC(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.motor' | angular }}</h3>
                      <p>Motor(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.props' | angular }}</h3>
                      <p>Propeller(s)</p>
                    </div>
                  </md-list-item>
                  <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.vehicle.batteryCells' | angular }}S</h3>
                      <p>Battery</p>
                    </div>
                  </md-list-item>
                </md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text">
                      <h3>{{ 'tune.Orig.userObservations' | angular }}</h3>
                      <p>User Observations</p>
                    </div>
                  </md-list-item>
              </md-content>
            </md-tab>
            <md-tab label="uavobjects">
              <md-content class="md-padding">
                <!--h1 class="md-display-2">UAVObjects</h1-->
                <fieldset class="standard">
                  <legend>Available UAVObjects</legend>
                  <div>
                    <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                      <strong>Select All</strong>
                    </md-checkbox>
                  </div>
                  <div ng-repeat="(name, obj) in tune.Orig.rawSettings" style="margin-bottom: 5px">
                    <md-toolbar class="md-hue-2" ng-click="showFields = !showFields">
                      <div class="md-toolbar-tools">
                        <md-checkbox ng-checked="exists(obj.name, selectedObjects)" ng-click="toggle(obj.name, selectedObjects); $event.stopPropagation()" aria-label="{{ 'obj' | angular }}"></md-checkbox>
                        <h2>
                          <span>{{ 'obj.name' | angular }}</span>
                        </h2>
                      </div>
                    </md-toolbar>
                    <table ng-show="showFields">
                      <thead><tr><td>Field</td><td>Value</td></tr></thead>
                      <tbody>
                        <tr ng-repeat="(field, value) in obj.fields">
                          <td>{{ 'field' | angular }}</td>
                          <td>
                            <ul ng-if="isArray(value)">
                              <li ng-repeat="v in value track by $index">{{ '$index + 1' | angular }}: {{ 'v' | angular }}</li>
                            </ul>
                            <span ng-if="isArray(value) != true">{{ 'value' | angular}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </fieldset>
              </md-content>
              <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="$ctrl.downloadRawObjects()">
                  <md-icon md-svg-src="assets/images/ic_file_download_24px.svg"></md-icon>
                  Download Selected UAVObjects
                </md-button>
              </md-dialog-actions>
            </md-tab>
            <!-- dummy tab to work around a bug in md-tabs https://github.com/angular/material/issues/6212 -->
            <md-tab ng-hide="true"></md-tab>
          </md-tabs>
        </md-dialog-content>
      </form>
    </md-dialog>
  </script>
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
<script src="/assets/js/tunes.js"></script>
